@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.work {
  font-family: "Work Sans", sans-serif;
  /* font-family: "Lato", sans-serif; */
}

.font {
  font-family: "Lato", sans-serif;
}

body {
  @apply text-white;
}

.register input {
  @apply rounded-sm bg-accent text-white px-1;
}

.register label {
  @apply text-base;
}

.btn1 {
  @apply bg-primary font-bold px-2 py-1 flex items-center justify-center w-full h-12 rounded-sm text-bg lg:hover:bg-accent lg:hover:text-white transition;
}

.btn2 {
  @apply bg-white font-bold px-2 py-1 flex items-center justify-center w-full h-12 rounded-sm text-bg lg:hover:bg-accent lg:hover:text-white transition;
}
