@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #727272 #000000;
}

body {
  @apply text-secondary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.work {
  font-family: "Work Sans", sans-serif;
  /* font-family: "Lato", sans-serif; */
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.register input {
  @apply rounded-sm bg-accent px-1 text-white;
}

.register label {
  @apply text-base;
}

.register input,
.register textarea {
  @apply placeholder:text-neutral-300;
}

.register textarea {
  @apply rounded-sm bg-accent px-1 text-white;
}

.btn1 {
  @apply flex h-11 w-full items-center justify-center rounded-lg border-2 border-secondary bg-bg px-2 py-1 font-bold text-secondary transition md:min-h-12 lg:hover:bg-accent lg:hover:text-white;
}

.btn2 {
  @apply flex h-11 w-full items-center justify-center rounded-lg bg-white px-2 py-1 font-bold text-bg transition md:min-h-12 lg:hover:bg-accent lg:hover:text-white;
}

.btn3 {
  @apply flex h-11 w-full items-center justify-center rounded-lg border-2 border-secondary bg-red-500 px-2 py-1 font-bold text-secondary transition md:min-h-12 lg:hover:bg-accent lg:hover:text-white;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}
